@page "/reset-password/"
@attribute [AllowAnonymous]

<PageTitle>Reset Password</PageTitle>

<div class="fsh-center-text">
    <MudTooltip Text="Sign In">
        <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" Color="Color.Inherit" Edge="Edge.Start"
                        Href="/login" />
    </MudTooltip>
    <MudText Typo="Typo.h4" GutterBottom="true">Reset Password</MudText>
    <MudText>
        Enter your new credentials to reset.
    </MudText>
</div>
<br />
<EditForm Model="@_passwordModel" OnValidSubmit="ResetPasswordAsync">
    <MudCard Elevation="0">
        <MudCardHeader>
            <CardHeaderContent>
                <div class="d-flex justify-center">
                    <img src="logo.png" Style="height:120px" />
                </div>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudGrid>
                <DataAnnotationsValidator />
                <FshValidation @ref="_customValidation" />
                <MudItem xs="12">
                    <MudTextField T="string" Label="E-mail" Variant="Variant.Outlined"
                        @bind-Value="_passwordModel.Email" For="@(() => _passwordModel.Email)"
                        InputType="InputType.Email" Adornment="Adornment.End"Disabled/>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField T="string" Label="Tenant" Variant="Variant.Outlined"
                        @bind-Value="Tenant" For="@(() => Tenant)" Required />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField T="string" @bind-Value="_passwordModel.Password"
                        For="@(() => _passwordModel.Password)" Label="Password" Variant="Variant.Outlined"
                        InputType="_newPasswordInput" Adornment="Adornment.End" AdornmentIcon="@_newPasswordInputIcon"
                        OnAdornmentClick="@(() => TogglePasswordVisibility())" Required/>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField T="string" @bind-Value="ConfirmPassword"
                        For="@(() => ConfirmPassword)" Label="Password Confirmation"
                        Variant="Variant.Outlined" InputType="_newPasswordInput" Adornment="Adornment.End"
                        AdornmentIcon="@_newPasswordInputIcon"
                        OnAdornmentClick="@(() => TogglePasswordVisibility())" Required/>
                </MudItem>
                @* <MudItem xs="12">
                    <MudTextField T="string" Label="Token" Variant="Variant.Outlined"
                    @bind-Value="_passwordModel.Token" For="@(() => _passwordModel.Token)" Disabled/>
                </MudItem> *@

            </MudGrid>
        </MudCardContent>
        <MudCardActions Class="pb-4 pl-4">
            <MudButton DropShadow="false" Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit" 
                StartIcon="@Icons.Material.Filled.LockReset" Disabled="BusySubmitting" Class="ml-auto">
                Reset Password</MudButton>
        </MudCardActions>
    </MudCard>
</EditForm>